<p-toast></p-toast>
<div class="admin-page">
    <p-card 
        [header]="editmode ? 'Editar Categoría': 'Agregar Categoría'" 
        subheader="Aquí puede agregar o editar categorías"
    >
        <div class="grid mb-5">
            <div class="col-12">
                <p-toolbar>
                    <div class="pi-toolbar-group-left"></div>
                    <div class="pi-toolbar-group-right">
                        <p-button   
                            styleClass="p-button-primary mr-2"
                            [label]="editmode ? 'Actualizar': 'Crear'" 
                            icon="pi pi-plus"
                            (click)="onSubmit()">
                        </p-button>
                        <p-button   
                            styleClass="p-button-secondary"
                            label="Cancelar" 
                            icon="pi pi-arrow-circle-left"
                            (click)="onCancel()">
                        </p-button>
                    </div>
                </p-toolbar>
            </div>
        </div>
        <div class="grid">
            <div class="col-12">
                <form [formGroup]="form">
                    <div class="p-fluid p-formgrid grid">
                        <div class="p-field col">
                            <label for="name">Nombre</label>
                            <input formControlName="name" id="name" type="text" pInputText> 
                            <small *ngIf="categoryForm.name.invalid && isSubmited" class="p-error">Un nombre es requerido</small>
                        </div>
                        <div class="p-field col">
                            <label for="icon">Ícono</label>
                            <input formControlName="icon" id="icon" type="text" pInputText> 
                            <small *ngIf="categoryForm.icon.invalid && isSubmited" class="p-error">Un Ícono es requerido</small>
                        </div>
                        <div class="p-field col">
                            <label for="color">Color</label><br>
                            <p-colorPicker formControlName="color"></p-colorPicker>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </p-card>
</div>

