<div class="admin-page">
    <p-card header="Dashboard" subheader="Datos de interés">
        <div class="grid">
            <div class="col-3">
                <p-card styleClass="d-orders">
                    <div class="d-item">
                        <i class="pi pi-shopping-cart"></i><br />
                        <span class="name">Órdenes</span>
                        <span class="number">{{ statistics[0] }}</span>
                    </div>
                </p-card>
            </div>
            <div class="col-3">
                <p-card styleClass="d-products">
                    <div class="d-item">
                        <i class="pi pi-briefcase"></i><br />
                        <span class="name">Productos</span>
                        <span class="number">{{ statistics[1] }}</span>
                    </div>
                </p-card>
            </div>
            <div class="col-3">
                <p-card styleClass="d-users">
                    <div class="d-item">
                        <i class="pi pi-users"></i><br />
                        <span class="name">Usuarios</span>
                        <span class="number">{{ statistics[2] }}</span>
                    </div>
                </p-card>
            </div>
            <div class="col-3">
                <p-card styleClass="d-totalsales">
                    <div class="d-item">
                        <i class="pi pi-dollar"></i><br />
                        <span class="name">Total de Ventas</span>
                        <span class="number">{{ statistics[3] | currency }}</span>
                    </div>
                </p-card>

            </div>

        </div>

    </p-card>
    <!--script src="https://anvil.works/embed.js" async></script>
    <iframe style="width:100%; height: 50em;" data-anvil-embed src="https://GMP64PD7IX2HN5YT.anvil.app/BYVS6EITYOFJDEHNAQEQ5SVK"></iframe-->
    <script src="https://anvil.works/embed.js" async></script>
    <iframe style="width:100%;; height: 50em;" data-anvil-embed src="https://SMZMK6NFAHASZEK3.anvil.app/FRXQRQAS3YWVV325AWCNKBG2"></iframe>

</div>